{% extends 'base.html' %}

{% block title %}Subjects{% endblock %}

{% block content %}

  <div class="center-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="title-card text-center">
          <h1>Mystic Academia</h1>
        </div>
        <div class="add-subject text-center mt-3">
          <a href="{% url 'subjects_create' %}" class="btn btn-subject me-5">Add Subject</a>
          <a href="{% url 'quests_index' %}" class="btn btn-quests">Quests</a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="list-container">
    <div class="subject-list">
      <h2>Arcane Studies</h2>
      <ul>
        {% for subject in subjects %}
          <li><a class="btn btn-secondary subject-link" href="{% url 'subjects_detail' pk=subject.pk %}" >{{ subject.name }} </a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="center-column">
      <div class="details-section text-center" data-progress="{{ subject.progress }}">
          <h3>Progress</h3>
          <canvas id="progressChart" width="200" height="200"></canvas>
      </div>

      <div class="pie-chart">
          <canvas id="cumulativeProgressChart" width="200" height="200"></canvas>
      </div>

      <div class="upcoming-container">
    {% if upcoming_exam %}
        <h3>Upcoming Exam</h3>
        <p>Subject: {{ upcoming_exam.name }}</p>
        <p>Exam Date: {{ upcoming_exam.exam_date }}</p>

    {% else %}
        <p>No upcoming exams</p>
    {% endif %}
      </div>
    </div>

    <div class="quest-list">
      <h2>Quests </h2>
      <ul>
        {% for quest in all_quests %}
          <li>
            {{ quest.name }} - {% if quest.badge_image_url %} <img src="{{ quest.badge_image_url }}" alt="{{ quest.name }} Badge"> {% endif %}
            <a href="{% url 'quests_detail' quest.id %}">Details</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>




  {% endblock %}
