{% extends 'base.html' %}

{% block title %}Subjects{% endblock %}

{% block content %}

  <div class="center-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="title-card">
          <h1>Mystic Academia</h1>
        </div>
        <div class="add-subject text-center mt-3">
          <a href="{% url 'subjects_create' %}" class="btn btn-primary">Add Subject</a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="list-container">
    <div class="subject-list">
      <h2>Arcane Studies</h2>
      <ul>
        {% for subject in subjects %}
          <li><a class="btn btn-secondary" href="{% url 'subjects_detail' pk=subject.pk %}" >{{ subject.name }} </a></li>
          {% endfor %}
      </ul>
    </div>

    <div class="center-column">
      <div class="pie-container">
        <h2>Progression pie chart</h2>
      </div>
      <div class="upcoming-container">
    {% if upcoming_exam %}
        <h3>Upcoming Exam</h3>
        <p>Subject: {{ upcoming_exam.name }}</p>
        <p>Exam Date: {{ upcoming_exam.exam_date }}</p>

    {% else %}
        <p>No upcoming exams</p>
    {% endif %}
      </div>
    </div>

    <div class="quest-list">
      <h2>Quests List:</h2>
      <ul>
        {% for achievement in achievements %}
        <li>
          {{ achievement.quest.name }} - {{ achievement.date_achieved }}
          {% if achievement.quest.badge_image_url %}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>




  {% endblock %}
