{% extends 'base.html' %}

{% block title %}Subjects{% endblock %}

{% load static %}
{% block content %}

    <div class="center-container">
        <div class="title-card text-center">
            <h1>Mystic Academia</h1>
        </div>

    </div>
    <div class="add-subject text-center mt-3">
        <a href="{% url 'subjects_create' %}" class="btn btn-subject me-5">Add Studies</a>
        <a href="{% url 'quests_index' %}" class="btn btn-quests">Quests</a>
    </div>

  <div class="list-container">
    <div class="subject-list">
      <h2>Arcane Studies</h2>
      <ul>
        {% for subject in subjects %}
          <li><a class="btn btn-secondary subject-link" href="{% url 'subjects_detail' pk=subject.pk %}" >{{ subject.name }} </a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="center-column">
        <div class="details-section text-center">
            <h3>PROGRESS</h3>
            <canvas id="donutChart" style="max-width: 600px; max-height: 400px;"></canvas>
        </div>

      <div class="upcoming-container">
          <h3 id="upcoming-exam-title">Upcoming Events</h3>
          <p id="exam-details">Loading...</p>
      </div>
    </div>

    <div class="quest-list">
      <h2>Quests</h2>
        <ul>
          {% for quest in all_quests %}
            <li>
                <a class="card-link text-center" href="{% url 'quests_detail' quest.id %}">
                    {% if quest.badge_image_url %}
                    <img src="{{ quest.badge_image_url }}" alt="{{ quest.name }} Badge">
                    {% endif %}
                    <span class="quest-name">{{ quest.name }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
  </div>
</div>

<div id="upcoming-exams-data" data-upcoming-exams="{{ upcoming_exams_data }}"></div>
<div id="subjects-data" data-subjects="{{ subjects_json }}"></div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/subject-index.js' %}"></script>

  {% endblock %}
