{% extends 'base.html' %}

{% block title %}{{ subject.name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="subject-details-card mx-auto">
      <div class="subject-details-header">
        <h2>{{ subject.name }}</h2>
      </div>
      <div class="subject-details-body" style="padding: 20px;">
        <div class="row">
          <div class="col-md-6">
            <div class="details-section">
              <h3>Field</h3>
              <p>{{ subject.field }}</p>
            </div>

            <div class="details-section">
              <h3>Start Date</h3>
              <p>{{ subject.start_date }}</p>
            </div>

            <div class="details-section">
              <h3>End Date</h3>
              <p>{{ subject.end_date }}</p>
            </div>

            <div class="details-section">
              <h3>Exam Date</h3>
              <p>{{ subject.exam_date }}</p>
            </div>
Exam Date: {{ subject.exam_date }}
Current Date: {{ current_date }}
          {% if subject.exam_date == current_date %}
              <div class="details-section">
                  <h3>Grade</h3>
                  <p>{{ subject.get_grade_display }}</p>
              </div>
          {% endif %}
          </div>

          <div class="progress-container col-md-6 ">
              <div class="details-section text-center" data-progress="{{ subject.progress }}">
                  <h3>Progress</h3>
                  <div class="chart-container" style="position: relative; height: 350px; width: 350px;">
                    <canvas id="progressChart"></canvas>
                  </div>
              </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 text-center" style="padding: 20px;">
          <a href="{% url 'subjects_update' pk=subject.pk %}" class="btn btn-secondary me-5" style="border: 1px solid white;">Edit</a>
          <a href="{% url 'subjects_delete' pk=subject.pk %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>

  </div>


  <h3>Assignments</h3>


  <a href="#">Add Assignment</a>






<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const progressValue = parseInt(document.querySelector('.details-section[data-progress]').dataset.progress);

    const data = {
      labels: ['Completed', 'Remaining'],
      datasets: [{
        data: [progressValue, 100 - progressValue],
        backgroundColor: ['#F6D55C', '#3CAEA3'],
        hoverBackgroundColor: ['#FFB627', '#218F86']
      }]
    };

    const ctx = document.getElementById('progressChart').getContext('2d');

    const myPieChart = new Chart(ctx, {
      type: 'pie',
      data: data,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            labels: {
              color: 'white'
            }
          }
        }
      }
    });
  </script>

{% endblock %}
