{% extends 'base.html' %} {% block title %}{{ user.username }}{% endblock %}
{% block content %}
<h2>{{ user.username }}</h2>

{% if profile %}
<p>First Name: {{ profile.first_name }}</p>
<p>Last Name: {{ profile.last_name }}</p>
<p>Email: {{ profile.email }}</p>
<p>School Year: {{ profile.school_year }}</p>
<p>Total XP: {{ profile.xp }}</p>

<a href="{% url 'profile_update' pk=profile.id %}">Edit</a>
{% else %}
<p>Please set up your profile details.</p>
<a href="#">Add Profile</a>
{% endif %}

<div class="subject-list">
  <h2>Quest Achievements</h2>
  <ul>
    {% for achievement in achievements %}
    <li>
      {{ achievement.quest.name }} - {{ achievement.date_achieved }}
      {% if achievement.quest.badge_image_url %}
      <img src="{{ achievement.quest.badge_image_url }}" alt="Badge Image">
      {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
