{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="card-title">Log In</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <p style="color: white;">If you are a new adventurer, sign up today!</p>
                        <button type="submit" class="btn btn-primary me-3">Log In</button>
                        <a href="{% url 'signup' %}" class="btn btn-secondary">Sign up</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
