{% extends 'base.html' %}

{% block title %}
EduQuest
{% endblock %}

{% block content %}

<section class="hero mb-4">
    <div class="home-page-image">
        <div class="hero-content mb-4"></div>
            <div class="cta-buttons">
                <a href="{% url 'login' %}" class="btn btn-secondary me-5">Login</a>

                <a href="{% url 'signup' %}" class="btn btn-secondary">Sign up</a>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="about-content">
        <h2>EduQuest</h2>
        <p>
            In the mystical realm of Eldoria, where legends are born and destinies unfold, you, noble adventurer, stand at the threshold of an epic journey. From the humble confines of your village, a whisper of destiny beckons—a call to embark on a quest unlike any other. For within the enchanted confines of your device lies a gateway to realms uncharted and knowledge untold.
        </p>
        <p>
            Armed with the tools of learning and the courage of a true hero, you will traverse landscapes both wondrous and perilous, each step bringing you closer to the heart of the mystery that awaits. So, heed the call, brave adventurer, and let your quest begin. For within the boundless expanse of Eldoria, the adventure of a lifetime awaits—all you need do is take the first step and embrace the magic that lies within.
        </p>
    </div>
</section>

{% endblock %}
