{% extends 'base.html' %}

{% block title %}
EduQuest
{% endblock %}

{% block content %}

<section class="hero mb-4">
    <div class="home-page-image">
        <div class="hero-content mb-4"></div>
            <div class="cta-buttons">
                <a href="{% url 'login' %}" class="btn btn-primary me-5">Login</a>

                <a href="{% url 'signup' %}" class="btn btn-secondary">Sign up</a>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="about-content">
        <h2>About EduQuest</h2>
        <p>Traditional education systems often lack engagement and fail to motivate students. There's a need for a platform that makes the learning experience more enjoyable and rewarding. This apps goal is to gamify the learning experience and can significantly enhance student motivation and engagement. The aim is to revolutionise education by integrating RPG game mechanics to make the learning process more interactive and enjoyable.</p>
    </div>
</section>

{% endblock %}
