@import url(https://db.onlinewebfonts.com/c/30a54a4676e0320733a2676919db6577?family=TT+Alientz+Serif);

/* Body and main */
/* --------------------------------------------------------------------------------------------------------------- */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(/static/images/stock-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Navbar and Footer */
/* --------------------------------------------------------------------------------------------------------------- */

.navbar {
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.39);
    background-color: rgba(153, 182, 239, 0.483);
    font-family: "TT Alientz Serif", sans-serif;
    top: 0;
    width: 100%;
    position: relative;
    z-index: 100;
}

.logo-img {
    height: 50px;
    width: auto;
}

.avatar {
    width: 30px;
    height: 30px;
}

footer {
    height: 70px;
    font-family: "TT Alientz Serif", sans-serif;
    bottom: 0;
    width: 100%;
    position: relative;
    margin-top: 150px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 990px) {
    .navbar-collapse {
        background-color: rgb(153, 182, 239);
        border-radius: 20px;
    }
}

@media (max-width: 767px) {
    .logo-img {
        height: 45px;
        width: auto;
    }
    .username-xp {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Home Page */
/* --------------------------------------------------------------------------------------------------------------- */
.home-page-image {
    width: 100%;
    max-width: 2000px;
    height: 60vh;
    max-height: 900px;
    border: 1px solid black;
    background-image: url("/static/images/Eduquest-bg-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.39);
    margin: 0 auto;
    position: relative;
}

.hero-content {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 60%;
}

.cta-buttons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.cta-buttons a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #474747;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(225, 255, 29);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    height: 50px;
    width: 100px;
}

.cta-buttons a.btn:hover {
    background-color: #c4c4c4;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about {
    text-align: center;
    color: #c8c8c8;
}

.about-content {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 250px;
    padding: 20px;
    line-height: 1.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.571);
    border-radius: 8px;
}
/* --------------------------------------------------------------------------------------------------------------- */
/*  Title cards */
/* --------------------------------------------------------------------------------------------------------------- */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.571);
}

.title-card {
    padding: 20px;
    font-family: "TT Alientz Serif", sans-serif;
    width: 100%;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* Subject details  */
/* --------------------------------------------------------------------------------------------------------------- */
.subject-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.subject-details-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.39);
    margin: 30px;
    background: linear-gradient(-45deg, #306bac, #a86ef4);
}

.subject-details-header {
    background-color: #a15aff;
    color: #fff;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.39);
}

.details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.action-buttons {
    text-align: center;
    margin-top: 20px;
}

.progress-container {
    display: flex;
    justify-content: center;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* Subject Form */
/* --------------------------------------------------------------------------------------------------------------- */
.subject-form {
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.39);
}
.fantasy-form {
    background: linear-gradient(-45deg, #306cac7a, #a86ef48d);
    border: 2px solid #ffffff;
    padding: 20px;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
.fantasy-section-heading {
    color: #ffffff;
}

.fantasy-btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.fantasy-btn-primary {
    background-color: #993300;
    color: #fff;
}
.asteriskField {
    display: none;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* Subject Delete  */
/* --------------------------------------------------------------------------------------------------------------- */
.delete-content {
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(255, 243, 243);
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.39);
}
.delete-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* Profile Page */
/* --------------------------------------------------------------------------------------------------------------- */
.profile-container {
    background-image: url(/static/images/mountains-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.887);
}

.profile-info,
.completed-quest-list {
    width: 100%;
    max-width: 500px;
    background: rgba(112, 55, 246, 0.453);
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}

.profile-info h2,
.completed-quest-list h2 {
    color: #edebeb;
    text-align: center;
    font-size: 1.5rem;
    font-family: "TT Alientz Serif", sans-serif;
}

.profile-info ul,
.completed-quest-list ul {
    list-style: none;
    padding: 0;
}

.profile-info li,
.completed-quest-list li {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.completed-quest-list {
    background-color: rgba(112, 55, 246, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.quest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.quest-item {
    background-color: rgba(174, 102, 241, 0.745);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.quest-badge {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

.quest-details {
    margin-left: 10px;
}

.quest-details h3 {
    color: #edebeb;
    margin: 0;
    font-size: 15px;
}

.quest-details .date {
    color: #fff;
    margin: 0;
    font-size: 10px;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Leaderboard Page */
/* --------------------------------------------------------------------------------------------------------------- */
.card-header {
    background-color: #583d72;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TT Alientz Serif", sans-serif;
}

.card {
    background: linear-gradient(45deg, #583d72, #4b6cb7);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.39);
}
.table {
    color: white;
    border-radius: 10px;
}
.table tbody tr:nth-of-type(odd) td {
    color: #fff;
}

.table thead th {
    background-color: #342750;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #5c4d8d;
    color: white;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #445b97;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Badge detail Page */
/* --------------------------------------------------------------------------------------------------------------- */

.badge-container {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin: 10px;
    background-color: #0856a9;
}

.badge-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.quest-and-badge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.link-container {
    padding: 10px;
    background-color: #b9b9b9;
    border-bottom: 1px solid rgb(219, 219, 219);
    text-align: center;
}

.link-container a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.quest-details-card {
    background-color: rgba(185, 185, 185, 0.523);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.39);
}
.text-danger {
    font-weight: bold;
}
.quest-details-header {
    background: linear-gradient(-45deg, #306cacb0, #a86ef4cd);
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Assignment forms  */
/* --------------------------------------------------------------------------------------------------------------- */

.assignment-form {
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    border-radius: 8px;
}

.assignment-form .card {
    border: none;
    background-color: none !important;
    border-radius: 10px;
}

.assignment-form .card-header {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.assignment-form h2 {
    margin-bottom: 0;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Additional styles  */
/* --------------------------------------------------------------------------------------------------------------- */

.form-text {
    color: white;
}
.form-label {
    color: white;
}
h2 {
    font-family: "TT Alientz Serif", sans-serif;
}
