/* General Styles */
/* -------------------------------------------------------------------------------------------------- */
.list-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
    background-image: url(/static/images/subject-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.887);
    overflow: hidden;
    padding: 10px;
}

.subject-list,
.quest-list {
    min-width: 310px;
    max-width: 310px;
    min-height: 1000px;
    height: auto;
    background-image: url(/static/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin: 20px;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
    margin: 20px;
}

.subject-link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.subject-list ul,
.quest-list ul {
    list-style: none;
    padding: 0;
}

.subject-list h2,
.quest-list h2 {
    color: #edebeb;
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 5px;
    font-family: "TT Alientz Serif", sans-serif;
}

/* -------------------------------------------------------------------------------------------------- */
/* Subject List */
/* -------------------------------------------------------------------------------------------------- */

.subject-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subject-list li {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.subject-list li a.btn {
    background-image: url(/static/images/book-binder.jpeg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white !important;
    font-family: "TT Alientz Serif", sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    border: 1px solid white;
    border-left: 4px solid #8b4513;
    border-right: 4px solid #8b4513;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.subject-list li a.btn:hover {
    background-color: #8b4513 !important;
    transform: scale(1.13);
}

/* -------------------------------------------------------------------------------------------------- */
/* Quest List */
/* -------------------------------------------------------------------------------------------------- */

.quest-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.quest-list li {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(50% - 10px);
    height: 140px;
    transition: transform 0.3s ease;
}

.quest-list img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.quest-name {
    position: absolute;
    bottom: 40px;
    left: 0px;
    color: white;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(112, 55, 246, 0.453);
    border-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------- */
/* Hover Effects */
/* -------------------------------------------------------------------------------------------------- */

.quest-list li:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease;
}

.quest-list li:hover:before {
    transform: scaleX(1.1);
}

.quest-list li:hover .quest-name {
    opacity: 1;
}

.quest-list li:hover {
    transform: translateY(-5px);
}

/* -------------------------------------------------------------------------------------------------- */
/* Additional Styles */
/* -------------------------------------------------------------------------------------------------- */

.upcoming-container {
    width: 400px;
    height: 200px;
    background-image: url(/static/images/upcoming-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 200px;
    margin-bottom: 20px;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.upcoming-container h3 {
    font-size: 25px;
    letter-spacing: 3px;
}

.add-subject a,
.add-subject a:hover {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(225, 255, 29);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-subject a.btn-subject {
    background-color: #6a0dab;
}

.add-subject a.btn-quests {
    background-color: #0dabb6;
    border: 2px solid #2e8b57;
}

.add-subject a.btn-subject:hover {
    background-color: #8d45e6;
    transform: scale(1.1);
}

.add-subject a.btn-quests:hover {
    background-color: #30d2dc;
    transform: scale(1.1);
}

h3 {
    color: white;
    font-family: "TT Alientz Serif", sans-serif;
    letter-spacing: 3px;
}

/* -------------------------------------------------------------------------------------------------- */
/* Media Queries */
/* -------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    .list-container {
        flex-direction: column;
        align-items: center;
    }
}
