{% extends 'base.html' %} {% block title %}Assignments{% endblock %}
{% block content %}

<div class="center-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="title-card">
          <h1>Quests</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-container">
  <div class="all-quest-list">
    <h2>All Quests</h2>
    {% for quest in all_quests %}
    <div class="quest-and-badge">
      <div class="image-container">
        <a href="{% url 'quests_detail' pk=quest.pk %}">
          <img src="{{ quest.badge_image_url }}" alt="Badge Image" {% if quest.id in achieved_quest_ids %}style="filter: grayscale(0%);" {% else %}style="filter: grayscale(100%);" {% endif %} />
        </a>
      </div>
      <div class="link-container">
        <a href="{% url 'quests_detail' pk=quest.pk %}" class="">{{ quest.name }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
