{% extends 'base.html' %}

{% block title %}{{ quest.name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="quest-details-card mx-auto mt-5">
      <div class="quest-details-header text-white p-3">
        <h2>Quest: {{ quest.name }}</h2>
      </div>
      <div class="quest-details-body p-4">
        <div class="row">
          <div class="col-md-6">
            <div class="details-section">
              <h3>Description</h3>
              <p>{{ quest.description }}</p>
            </div>

            <div class="details-section">
              <h3>XP Earned</h3>
              <p>{{ quest.xp_earned }}</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="details-section text-center">
              <h3>Badge</h3>
              <img src="{{ quest.badge_image_url }}" alt="Badge Image" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 text-center p-4">
          {% if achieved_quest %}
          <p class="text">You have achieved this quest!</p>
          {% else %}
          <p class="text-danger">You have not achieved this quest yet.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
